{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <h1 align="center">{% block header %}Posts{% endblock %}</h1> -->
<!-- <div class="create" align="right" style="margin-bottom: 2rem;">
  <a href="/create-post">
    <button type="button" class="btn btn-primary btn-lg">
      Create a Post
    </button>
  </a>
</div> -->
<!-- <aside class="me-5">
  <div class="card sticky-top">
    <div class="card-header">
      <h2 class="me-5">Categories</h2>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Secret</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Advice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Love</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Achievement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Horror</a>
        </li>

      </ul>
    </div>
  </div>
</aside> -->
<main style="width: 100%;">
  <form method="POST" class="d-flex mb-2">
    <textarea name="text" id="text" class="form-control" placeholder="What do you want to post?"></textarea>
    <div align="right" class="d-flex align-items-center justify-content-center">
      <button type="submit" class="btn btn-primary ms-2" style="width: 7rem; height: 4rem;">Create Post</button>
      <!-- <a href="/home"><button type="button" class="btn btn-secondary">Back</button></a> -->
    </div>
  </form>

  <div id="posts">
    {% for post in posts %}

    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/posts/{{post.user.username}}"
          style="font-size: 1.250rem; text-decoration: none; color: rgb(255, 25, 0);"
          class="post-username">{{post.user.username}}</a>
        <span class="text-muted">{{post.date_created}}</span>
        <div>
          <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>
          {% if user.id in post.likes|map(attribute="author")|list %}
          <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
          {% else %}
          <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
          {% endif %}
          {% if user.id == post.author %}
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary " data-bs-toggle="dropdown">....</button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card-body">
        <div class="card-text">{{post.text}}</div>
        <br />
        <div class="collapse" id="comments-{{post.id}}">
          <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
              {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                </div>
                <div>
                  <small class="text-muted"> {{comment.date_created}}</small>
                  {% if user.id == comment.author or user.id == post.author %}
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                      data-bs-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a>
                      </li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="card-text">
          {% if post.comments|length > 0 %}
          <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
            <small>View {{post.comments|length}} Comments</small>
          </a>
          {% else %}
          <small class="text-muted">No Comments</small>
          {% endif %}
        </p>
        <form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
          <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!" />
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
      </div>
      <!-- <div class="card-footer text-muted"></div> -->
    </div>
    <br /> {% endfor %}
  </div>
</main>
{% block footer %}

{% endblock %}
{% endblock %}